#caixa{
    width: 200px;
    height: 200px;
    background-color: crimson;
    
    
    animation: normal mudarcor 5s ease-in-out forwards;
    
}
@keyframes mudarcor {
    from{
        background-color: black;
    }
    to{
        background-color: aqua;
        border-radius: 100%;
    }

}


#quadrado{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    animation: girar 3s linear infinite;
}

@keyframes girar{
    from {
        transform: rotate(0);

    }

to{
    transform: rotate(360deg);
}
}