body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilo da caixa */
div{
    width: 200px;
    height: 200px;
}

#caixa1 {
    background-color: red;
}

#caixa2 {
    background-color: blue;
}

/*quando eu passar o mouse em cima da tag*/
#caixa1:hover {
    border-radius: 100%;
}

/* usando o houver na caixa02, mude a cor dela */
#caixa2:hover{
    background-color: black;
}

/* quando eu clicar com o mouse em alguma tag */

#caixa1:active {
    transform: scale(0.9);
}

/* sinal ~ serve para procurar irmão /*
/* sinal > serve para pegar o filho */

/*pega o primeiro filho do elemento pai*/
body >:last-child {
     background-color: blueviolet;
     border-radius: 100%;
}

body >:first-child {
    background-color: blueviolet;
    border-radius: 100%;
}

body>:nth-child(2){
    border-radius: 100%;
}